body {
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 50px;
}

/* toppings container */

#canvasContainer {
    max-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
    margin-bottom: 30px;
    margin-top: 35px;
}

#loadToppingsButton {
    width: 150px;
    height: 40px;
    border-radius: 4px;
    margin-top: 10px;
    font-size: 17px;
}

#loadToppingsButton:hover {
    background-color: darkgrey;
}

#loadToppingsButton.loaded:hover {
    background-color: #f9f9f9;
}

/* drop zones */

.dropzone {
    margin: 10px;
    width: 150px;
    display: inline-block;
    text-align: center;
}

#sorting-area {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: start;
}

#info {
    font-size: 30px;
    font-weight: bold;
    color: red;
    height: 25px;
    padding-top: 15px;
}

#pizzaDropZone {
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#pizzaToppings, #trashToppings {
    position: absolute;
    width: 300px;
    padding-top: 80px;
}

#pizzaToppings canvas {
    display: none;
}

#trashToppings canvas {
    display: none;
}

#trashDropZone {
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dropTitle {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 50px;
}

#pizza, #trash {
    width: 350px;
}

/* toppings */

#boot {
    background-image: url('../img/boot.png');
    background-size: cover;
    width: 100px;
}

#car {
    background-image: url('../img/car.png');
    background-size: cover;
    width: 100px;
}

#hat {
    background-image: url('../img/hat.png');
    background-size: cover;
    width: 100px;
}

#mushrooms {
    background-image: url('../img/mushrooms.png');
    background-size: cover;
    width: 100px;
}

#olives {
    background-image: url('../img/olives.png');
    background-size: cover;
    width: 100px;
}

#onions {
    background-image: url('../img/onions.png');
    background-size: cover;
    width: 100px;
}

#pepper {
    background-image: url('../img/pepper.png');
    background-size: cover;
    width: 100px;
}

#peppermint {
    background-image: url('../img/peppermint.png');
    background-size: cover;
    width: 100px;
}

#pepperoni {
    background-image: url('../img/pepperoni.png');
    background-size: cover;
    width: 100px;
}

#pineapple {
    background-image: url('../img/pineapple.png');
    background-size: cover;
    width: 100px;
}

#toothbrush {
    background-image: url('../img/toothbrush.png');
    background-size: cover;
    width: 100px;
}

/* pizza overlays */

#pizzaLayers {
    width: 350px;
    display: flex;
    align-items: flex-end;
}

#pizza-mushrooms, #pizza-onions, #pizza-pepper, #pizza-olives, #pizza-pepperoni, #pizza-pineapple {
    width: 350px;
    position: absolute;
    display: none;
}


